<html>   
<head>   
    <title>rembgpy by Alper Tuna KILIÇ</title>   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/anasayfa.css">
</head>   
<body>   
    <h1 class="title">REMBGPY: PYTHON kullanan bir resim arka plan silme WEB sitesi.</h1>
    <br>
    <h2 class="alter_title">REMBGPY, python'da rembg, flask ve rembg isimli modülleri kullanarak yapılmış bir sitedir. Alper Tuna KILIÇ tarafından kodlanmıştır.</h2>
    <br>
    <br>
    <a href="upload"><button class="upload_button">DOSYA YÜKLE</button></a>
    <br>
    <br>
    <div class="footer">
        
        <p class="foot">by Alper Tuna KILIÇ</p><p class="foot2">uses ngrok</p>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUCI4////+ap9I6VKj3+Pz7+/2hrdYiP50nQ5/v8fhHX62uudvf4/GOnc3Iz+eyvN1BWqvo6/XKg/hXAAAASElEQVR4AWNABaOAEQSYGJhZgBQrGzsuBRycjGDAwoVdATcPIxSwsGMoQAO8hBTwYVXALwACfCAmDw5fgAA/iClIjoJRBaMAAAV0Aurx8qm0AAAAAElFTkSuQmCC" alt="ngrok", width="50", height="50" class="ngroklogo">
    </div>
</body>   
</html>